<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Online Q&A Forum</title>
    </head>
    <body>
        <h1>Online Q&A Forum</h1>
        <br>
        <p>Welcome, user! This is a online Q&A forum where you can create posts and answer questions.</p>
        <p>You may consider the following activities:</p>
        <ul>
            <li><a href="./new">Create a post</a></li>
            <li><a href="./home">View posts</a></li>
        </ul>
    </body>
</html>